@import "tailwindcss";


:root {

    --bg: #F7F6F2;
    --logo-text: #1A1A18;
    --logo: #F7F6F2;
    --surface: #FFFFFF;
    --border: #E5E3DC;
    --search: #F0EEE8;
    --placeholder: #111110;
    --button-bg: #1A1A18;
    --button-text: #F7F6F2;
    --avatar-bg: #1A1A18;
    --hover-bg: #F0EEE8;
    --avatar-menu: #FFFFFF;
    --label: #F0EEE8;
}

.dark {
    --bg: #111110;
    --logo-text: #F0EEE8;
    --logo: #111110;
    --surface: #1A1A18;
    --border: #2C2C2A;
    --search: #2C2C2A;
    --placeholder: #F0EEE8;
    --button-bg: #F0EEE8;
    --button-text: #111110;
    --avatar-bg: #F0EEE8;
    --hover-bg: #2C2C2A;
    --avatar-menu: #1A1A18;
    --label: #2C2C2A;
}